[Desktop Entry]
Encoding=UTF-8
Name=MX Dockmaker
Name[ca]=MX Dockmaker
Name[de]=MX Dockmaker
Name[el]=MX Dockmaker
Name[es]=MX Dockmaker
Name[fr]=MX Dockmaker
Name[it]=MX Dockmaker
Name[ja]=MX Dockmaker
Name[nl]=MX Dockmaker
Name[sv]=MX Dockmaker
Comment=
Comment[ca]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[fr]=
Comment[it]=
Comment[ja]=
Comment[nl]=
Comment[sv]=
Exec=mx-dockmaker
Terminal=false
Type=Application
Icon=mx-dockmaker
OnlyShowIn=FLUXBOX;
Categories=System;
NoDisplay=false
