[Desktop Entry]
Encoding=UTF-8
Name=MX Dockmaker
Name[am]=MX Dockmaker
Name[ar]=MX Dockmaker
Name[bg]=MX Dockmaker
Name[bn]=MX Dockmaker
Name[ca]=MX Dockmaker
Name[cs]=MX Dockmaker
Name[da]=MX Dockmaker
Name[de]=MX Dockmaker
Name[el]=MX Dockmaker
Name[es]=Dockmaker
Name[et]=MX Dockmaker
Name[eu]=MX Dockmaker
Name[fa]=MX Dockmaker
Name[fil_PH]=MX Dockmaker
Name[fi]=MX Hyllynluoja
Name[fr]=MX Dockmaker
Name[he_IL]=MX Dockmaker
Name[hi]=MX Dockmaker
Name[hr]=MX Dockmaker
Name[hu]=MX Dockmaker
Name[id]=MX Dockmaker
Name[is]=MX Dockmaker
Name[it]=MX Crea Dock
Name[ja]=MX Dockmaker
Name[kk]=MX Dockmaker
Name[ko]=MX Dockmaker
Name[lt]=MX Dockmaker
Name[mk]=MX Dockmaker
Name[mr]=MX Dockmaker
Name[nb]=MX Dockmaker
Name[nl]=MX Dockmaker
Name[pl]=MX Dockmaker
Name[pt_BR]=MX Dockmaker
Name[pt]=MX Criar docas
Name[ro]=MX Dockmaker
Name[ru]=MX Dockmaker
Name[sk]=MX Dockmaker
Name[sl]=MX Izdelovalec sidrišč
Name[sq]=MX Dockmaker
Name[sr]=MX Dockmaker
Name[sv]=MX Dockmaker
Name[tr]=MX Dockmaker
Name[uk]=MX Dockmaker
Name[vi]=MX Dockmaker
Name[zh_CN]=MX Dockmaker
Name[zh_TW]=MX Dockmaker
Comment=Create docks in MX-Fluxbox
Comment[am]=Create docks in MX-Fluxbox
Comment[ar]=Create docks in MX-Fluxbox
Comment[bg]=Create docks in MX-Fluxbox
Comment[bn]=Create docks in MX-Fluxbox
Comment[ca]=Crea acobladors a MX-Fluxbox
Comment[cs]=Create docks in MX-Fluxbox
Comment[da]=Create docks in MX-Fluxbox
Comment[de]=Create docks in MX-Fluxbox
Comment[el]=Δημιουργία docks του στο MX-Fluxbox
Comment[es]=Crear muelles en MX-Fluxbox
Comment[et]=Create docks in MX-Fluxbox
Comment[eu]=Create docks in MX-Fluxbox
Comment[fa]=Create docks in MX-Fluxbox
Comment[fil_PH]=Create docks in MX-Fluxbox
Comment[fi]=Luo hyllyjä MX Fluxboxissa
Comment[fr]=Create docks in MX-Fluxbox
Comment[he_IL]=Create docks in MX-Fluxbox
Comment[hi]=Create docks in MX-Fluxbox
Comment[hr]=Create docks in MX-Fluxbox
Comment[hu]=Create docks in MX-Fluxbox
Comment[id]=Create docks in MX-Fluxbox
Comment[is]=Create docks in MX-Fluxbox
Comment[it]=Crea barre dock in MX-Fluxbox
Comment[ja]=MX-Fluxbox で docks 作成
Comment[kk]=Create docks in MX-Fluxbox
Comment[ko]=Create docks in MX-Fluxbox
Comment[lt]=Create docks in MX-Fluxbox
Comment[mk]=Create docks in MX-Fluxbox
Comment[mr]=Create docks in MX-Fluxbox
Comment[nb]=Create docks in MX-Fluxbox
Comment[nl]=Creëer docks in MX-Fluxbox
Comment[pl]=Create docks in MX-Fluxbox
Comment[pt_BR]=Create docks in MX-Fluxbox
Comment[pt]=Criar docas no MX-Fluxbox [mx-dockmaker]
Comment[ro]=Create docks in MX-Fluxbox
Comment[ru]=Create docks in MX-Fluxbox
Comment[sk]=Create docks in MX-Fluxbox
Comment[sl]=Izdelava sidrišč v MX-Fluxbox
Comment[sq]=Create docks in MX-Fluxbox
Comment[sr]=Create docks in MX-Fluxbox
Comment[sv]=Skapa dockor i MX-Fluxbox
Comment[tr]=Create docks in MX-Fluxbox
Comment[uk]=Create docks in MX-Fluxbox
Comment[vi]=Create docks in MX-Fluxbox
Comment[zh_CN]=Create docks in MX-Fluxbox
Comment[zh_TW]=Create docks in MX-Fluxbox
Exec=mx-dockmaker
Terminal=false
Type=Application
Icon=mx-dockmaker
OnlyShowIn=FLUXBOX;
Categories=System;MX-Utilities;
NoDisplay=false
