[Desktop Entry]
Encoding=UTF-8
Name[ca]=MX Dockmaker
Name[cs]=MX Dockmaker
Name[de]=MX Dockmaker
Name[el]=MX Dockmaker
Name[es]=Dockmaker
Name[es_ES]=MX Dockmaker
Name[fi]=MX Hyllynluoja
Name[fr]=MX Conception du Dock - MX Dockmaker
Name[fr_BE]=MX Conception du Dock - MX Dockmaker
Name[gl_ES]=MX Dockmaker
Name[he_IL]=מייצר מעגנים MX
Name[hu]=MX dokk készítő
Name[it]=MX Crea Dock
Name[ja]=MX ドックメーカ
Name[nb]=MX Dockmaker
Name[pl]=Twórz i edytuj dok
Name[pt]=MX Criar docas
Name[pt_BR]=Criador de Docas do MX
Name[ru]=MX Докмейкер
Name[ru_RU]=MX Dockmaker
Name[sl]=MX ustvarjalnik sidrišč
Name[sq]=MX Dockmaker
Name[sv]=MX Dockskapare
Name[tr]=MX Dockmaker
Name=MX Dockmaker
Comment[ca]=Crea acobladors a MX-Fluxbox
Comment[cs]=Tvorba docků v MX-Fluxbox
Comment[de]=Erstelle Docks in MX-Fluxbox
Comment[el]=Δημιουργία docks στο MX-Fluxbox
Comment[es]=Crear muelles en MX-Fluxbox
Comment[es_ES]=Crea muelles en MX-Fluxbox
Comment[fi]=Luo hyllyjä MX Fluxboxissa
Comment[fr]=Créer des docks dans MX-Fluxbox
Comment[fr_BE]=Créer des docks dans MX-Fluxbox
Comment[gl_ES]=Crear docks en MX-Fluxbox
Comment[he_IL]=יצירת מעגנים ב־MX-Fluxbox
Comment[hu]=Dokkok készítésére használható, MX-Fluxboxhoz
Comment[it]=Crea barre dock in MX-Fluxbox
Comment[ja]=MX-Fluxbox で docks を作成します
Comment[nb]=Lag samlevindu i MX-Fluxbox
Comment[nl]=Creëer docks in MX-Fluxbox
Comment[pl]=Tworzenie doków w MX Fluxbox
Comment[pt]=Criar docas no MX-Fluxbox [mx-dockmaker]
Comment[pt_BR]=Criar docas no gerenciador de janelas Fluxbox do MX com o MX Dockmaker
Comment[ru]=Создание док-панелей в MX-Fluxbox
Comment[ru_RU]=Создание док-панелей в MX-Fluxbox
Comment[sl]=Izdelava sidrišč v MX-Fluxbox
Comment[sq]=Krijoni panele në MX-Fluxbox
Comment[sv]=Skapa dockor i MX-Fluxbox
Comment[tr]=MX-Fluxbox’ta dock oluşturun
Comment=Create docks in MX-Fluxbox
Exec=mx-dockmaker
Terminal=false
Type=Application
Icon=mx-dockmaker
OnlyShowIn=fluxbox;
Categories=System;X-MXFB-Tools;
NoDisplay=false
